<html>
	<head>
		<style>
			/* Main */
			#main_header {
				display:flex;
				margin: 0px calc(0.4rem);

				border: 2px solid black;
				border-radius: 2rem;
				
				height: 5rem;
				width: calc(100vw - 0.4rem - 24px);
			}
			#main_body {
				display: flex;
				height: calc(100vh - 32px - 5rem);
				padding: 0.2rem;
			}

			/* Views */
			.view {
				flex-grow: 1;
				margin: 0.2rem;

				border: 2px solid black;
				border-radius: 2rem;

				display: flex;
				flex-direction: column;
			}
			.view_header > * { margin-right: 0.4rem; }
			.view_header {
				border-bottom: 2px solid black;
				height: 3rem;
				
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
			}
			.view_body {
				min-height: 5rem;
				flex-grow: 1;
				padding: 0.75rem;
				overflow: auto;
			}
			.view_body > * {
				width: fit-content;
			}
			.view_selector {
				margin-left: 0.4rem;
				margin-right: auto;
			}

			/* Containers */
			.container {
				display: flex;
				flex-grow: 1;
			}
			.container_vertical { flex-direction: column; }
			.container_horizontal { flex-direction: row; }
			.container_vertical > * { height: 50%; }
			.container_horizontal > * { width: 50%; }

			/* File Manager */
			.file_manager {
				display: flex;
				flex-direction: column;
			}

			.file_manager_option {
				display: flex;
				flex-direction: row;
			}
			.file_manager_option > * { margin-left: 0.4rem; }
			.file_manager_option > *:first-child { flex-grow: 1; }

			/* Tag Sets */
			.tag_sets_indented { padding-left: 1.5rem; }
			.tag_sets_set_name { color: black; }

			/* Tag Matching */
			.tag_matching_row {
				display: flex;
				flex-direction: row;
			}
			.tag_matching_row > *:first-child { flex-grow: 1; }
			.tag_matching_row > *:nth-child(2) {
				width: 10rem;
				text-align: right;
			}

			/* Utilities */
			.children_alternating_colors > *:nth-child(odd) { background-color: #ccc; }
			.children_alternating_colors > *:nth-child(even) { background-color: #eee; }
			.used_tag { color: blue; }
			.unused_tag { color: red; }
		</style>
	</head>
	<script type="text/javascript" src="./../shared/compiler.js"></script>  
	<body>
		<div id="main_header"></div>
		<div id="main_body"></div>
	</body>
	<script>
		class Files {
			static global_files = {};
			static name_change_watchers = [];

			static async load_files () {
				Files.global_files = await fetch('/source/views/shared/sets_source.json')
					.then(e => e.json());
			}
			
			static delete (file_name, run_callbacks = true) {
				console.log(`Deleting file ${file_name}`);
				delete Files.global_files[file_name];
				if (run_callbacks === true) {
					Files.call_all_name_watchers();
				}
			}

			static rename (old_name, new_name) {
				if (new_name === '') {
					return;
				}
				console.log(`Renaming file ${old_name} to ${new_name}`);
				Files.global_files[new_name] = Files.global_files[old_name];
				Files.delete(old_name, false);
				Files.call_all_name_watchers();
			}

			static create (file_name) {
				console.log(`Creating file ${name}`);
				Files.global_files[file_name] = '';
				Files.call_all_name_watchers();
			}
			
			static get_file_content (file_name) {
				return Files.global_files[file_name];
			}

			static update_content (file_name, content) {
				Files.global_files[file_name] = content;
			}

			static get_file_names () {
				return Object.keys(Files.global_files);
			}

			static call_all_name_watchers () {
				Files.name_change_watchers.forEach(e => e());
			}

			static watch_file_names (callback) {
				Files.name_change_watchers.push(callback);
			}

			static get_file_object () {
				return Files.global_files;
			}
		}
	</script>
	<script>
		class SiteTags {
			static tags_with_counts = [];

			static async load_tags () {
				SiteTags.tags_with_counts = await fetch('/source/views/shared/site_tags.json')
					.then(e => e.json());
			}

			static get_tags_with_counts () {
				return SiteTags.tags_with_counts;
			}

			static is_tag_on_site (tag) {
				return SiteTags.tags_with_counts.some(e => e[0].localeCompare(tag) === 0);
			}
		}
	</script>
	<script>
		class Compiler {
			static compiled_results = {};
			static last_compiled = new Date(0);
			static compiled_tag_watchers = [];

			static async compile_files () {
				const files = Files.get_file_object();
				Compiler.compiled_results = window.compile_file(files);
				Compiler.last_compiled = new Date();
				
				Compiler.call_all_compiled_tag_watchers();
			}

			static get_compiled_results () {
				return Compiler.compiled_results;
			}

			static is_tag_present (tag) {
				return Object.values(Compiler.compiled_results.main)
					.some(set => [...set].some(e => e === tag));
			}

			static watch_compiled_tag (callback) {
				Compiler.compiled_tag_watchers.push(callback);
			}

			static call_all_compiled_tag_watchers () {
				Compiler.compiled_tag_watchers.forEach(e => e());
			}
		}
	</script>
	<script>
		Files.load_files()
			.then(() => SiteTags.load_tags())
			.then(() => Compiler.compile_files())
			.then(() => {
				document.getElementById('main_body').appendChild(make_view());
				Files.watch_file_names(() => {
					update_all_views_named('file_manager', '$ File Manager');
				});
				Compiler.watch_compiled_tag(() => {
					update_all_views_named('tag_sets', '$ Global Tag Sets');
					update_all_views_named('tag_matching', '$ Tag Matching');
				});

				function update_all_views_named (classname, node_name) {
					[...document.getElementsByClassName(classname)]
						.forEach(e => {
							clear_children(e);
							e.appendChild(get_special_views()
								.find(e => e.name === node_name)
								.make_node());
						});
				}
			});

		function make_view () {
			const container = document.createElement('div');
			container.classList.add('view');
			container.appendChild(make_view_header());
			container.appendChild(make_view_body());
			return container;

			function make_view_header () {
				const container = document.createElement('div');
				container.classList.add('view_header');
				container.appendChild(create_view_selector(container));
				container.appendChild(create_close_button(container));
				container.appendChild(create_split_button(container, false));
				container.appendChild(create_split_button(container, true));
				return container;

				function create_split_button (container, split_vertical) {
					const button = document.createElement('button');
					button.textContent = split_vertical ? '-' : '|';
					button.addEventListener('click', e => {
						split_view(container.parentNode, split_vertical);
					});
					return button;

					function split_view (view, split_vertical) {
						const container = make_container(split_vertical);
						view.parentNode.replaceChild(container, view);
						const original = view;
						const new_view = make_view();
						container.appendChild(view);
						container.appendChild(new_view);

						function make_container (split_vertical) {
							const container = document.createElement('div');
							container.classList.add('container');
							if (split_vertical === true) {
								container.classList.add('container_vertical');
							} else {
								container.classList.add('container_horizontal');
							}
							return container;
						}
					}
				}

				function create_close_button (container) {
					const button = document.createElement('button');
					button.textContent = 'X';
					button.addEventListener('click', e => {
						close_view(container.parentNode);
					});
					return button;

					function close_view (view) {
						const container = view.parentNode;
						const other = container.firstChild === view ? container.lastChild : container.firstChild;
						if (container.id !== 'main_body') {
							container.removeChild(view);
							container.parentNode.replaceChild(other, container);
						}
					}
				}

				function create_view_selector (container) {
					const selector = document.createElement('select');
					selector.classList.add('view_selector');
					selector.addEventListener('change', e => {
						select_from_selector(e, container.parentNode.lastChild, selector)
					});
					fill_selector_with_options(selector);
					Files.watch_file_names(() => fill_selector_with_options(selector));
					return selector;

					function select_from_selector (event, body, selector) {
						clear_children(body);
						const value = selector.value;
						const special = get_special_views().find(e => e.name === value);
						if (special !== undefined) {
							body.appendChild(special.make_node());
						} else {
							// TODO try all the files
						}
					}

					function fill_selector_with_options (selector) {
						const files = Files.get_file_names();
						const special = get_special_views().map(e => e.name);
						const selector_value = get_selector_value(selector);

						clear_children(selector);

						[...files, ...special]
							.map(e => {
								const max_file_name_size = 20;
								const option = document.createElement('option');
								option.value = e;
								option.textContent = e.length > max_file_name_size ? `${e.substring(0, max_file_name_size - 3)}...` : e;
								return option;
							})
							.sort((a, b) => a.textContent.localeCompare(b.textContent))
							.forEach(e => selector.appendChild(e));
						
						selector.selectedIndex = get_selector_index(selector, selector_value);
					}
				}
			}

			function make_view_body () {
				const container = document.createElement('div');
				container.classList.add('view_body');
				return container;
			}
		}

		function clear_children (node) {
			while (node.firstChild) {
				node.removeChild(node.firstChild);
			}
		}

		function get_selector_value (selector) {
			const index = selector.selectedIndex;
			if (index === -1) {
				return undefined;
			} else {
				return selector[index].value;
			}
		}

		function get_selector_index (selector, value) {
			if (value === undefined) {
				return 0;
			} else {
				return [...selector.children].findIndex(e => e.value === value) || 0;
			}
		}

		function get_special_views () {
			return [{
				name: '--Choose an Option--',
				make_node: () => document.createElement('div')
			}, {
				name: '$ File Manager',
				make_node: () => {
					const container = document.createElement('div');
					container.classList.add('file_manager');
					container.classList.add('children_alternating_colors');
					
					container.appendChild(make_new_file_button());
					Files.get_file_names()
						.sort((a, b) => a[0].localeCompare(b[0]))
						.map(e => make_file_select_option(e))
						.forEach(e => container.appendChild(e));

					return container;

					function make_new_file_button () {
						const container = document.createElement('div');
						
						const button = document.createElement('button');
						button.textContent = 'Create\xa0new\xa0file\xa0called\xa0\'$-New\xa0File\'';
						button.addEventListener('click', e => Files.create('$-New File'));
						
						container.appendChild(button);
						return container;
					}

					function make_file_select_option (name) {
						const container = document.createElement('div');
						container.classList.add('file_manager_option');

						container.appendChild(create_title(name));
						container.appendChild(create_delete_button());
						const rename = create_rename_elements();
						container.appendChild(rename[0]);
						container.appendChild(rename[1]);
						return container;

						function create_title (name) {
							const title = document.createElement('span');
							title.textContent = name;
							return title;
						}

						function create_delete_button () {
							const button = document.createElement('button');
							button.textContent = 'Delete\xa0File';
							button.addEventListener('click', e => {
								const file_name = e.target.parentNode.firstChild.textContent;
								Files.delete(file_name);
							});
							return button;
						}

						function create_rename_elements () {
							const new_name = document.createElement('input');
							new_name.type = 'text';
							new_name.placeholder = 'New filename';

							const button = document.createElement('button');
							button.textContent = 'Rename\xa0File';
							button.addEventListener('click', e => {
								const file_name = e.target.parentNode.firstChild.textContent;
								const new_name = e.target.parentNode.querySelector('input').value;
								Files.rename(file_name, new_name);
							});

							return [button, new_name];
						}
					}
				}
			}, {
				name: '$ Tag Matching',
				make_node: () => {
					const container = document.createElement('div');
					container.classList.add('tag_matching');
					container.classList.add('children_alternating_colors');
					
					SiteTags.get_tags_with_counts()
						.sort((a, b) => b[1] - a[1])
						.forEach(([tag, count]) => container.appendChild(create_row(tag, count)));

					return container;

					function create_row (tag, count) {
						const container = document.createElement('div');
						container.classList.add('tag_matching_row');

						const count_container = document.createElement('span');
						count_container.textContent = count.toLocaleString();

						const tag_container = document.createElement('span');
						tag_container.textContent = tag;
						if (Compiler.is_tag_present(tag) === true) {
							tag_container.classList.add('used_tag');
						} else {
							tag_container.classList.add('unused_tag');
						}

						container.appendChild(tag_container);
						container.appendChild(count_container);
						return container;
					}
				}
			}, {
				name: '$ Global Tag Sets',
				make_node: () => {
					const container = document.createElement('div');
					container.classList.add('tag_sets');
					container.classList.add('children_alternating_colors');

					Object.entries(Compiler.get_compiled_results().main)
						.sort((a, b) => a[0].localeCompare(b[0]))
						.forEach(([key, value]) => {
							container.appendChild(create_row(key, false, false));
							[...value]
								.sort((a, b) => a[0].localeCompare(b[0]))
								.map(e => create_row(e, true, true))
								.forEach(e => container.appendChild(e));
						});

					return container;
					
					function create_row (name, should_indent, is_tag) {
						const container = document.createElement('div');
						container.textContent = name;
						if (should_indent === true) {
							container.classList.add('tag_sets_indented');
						}
						if (is_tag === true) {
							if (SiteTags.is_tag_on_site(name) === true) {
								container.classList.add('used_tag');
							} else {
								container.classList.add('unused_tag');
							}
						} else {
							container.classList.add('tag_sets_set_name');
						}
						return container;
					}
				}
			}];
		}
	</script>
</html>